#aboutDesc{
	padding-top: 20%;
}
#About{
	background: linear-gradient(rgba(177,221,247,1),white);
}
#cartoon{
	margin-top: 112px;
}

.socialIcons{
	height: 50px;
}



@media (max-height:933px){
    #cartoon{height:70%;}
}
@media (max-width:900px){
    #cartoon{height:50%;}
    #aboutDesc{padding-top: 0%; margin-top: -90%}
}
@media (max-width:500px){
    #cartoon{height:75%;margin-top: -50%}
    #aboutDesc{padding-top: 0%; margin-top: -90%}
}
@media (max-width:400px){
	#cartoon{margin-left: -5%;}
    #aboutDesc{padding-top: 0%; margin-top: -105%}
}